<h1>About</h1>

<p>This is a Node/Express app that lets you mark down any new ideas that you might
have for your new coding project. <br> Hurry up and write it down. It could be the one. <br>
You never know ;)</p>

<p>Author: Dzenis H.</p>
<hr>
<p>Version: 1.0.1</p>
<hr>
<p>All rights reserved © 2018</p>