<div class="text-center">
  <h1 class="display-3">{{title}}</h1>
  <p class="lead text-white">IDEA_x - ideas for your next coding project</p>
  <a href="/ideas/add" class="btn btn-info btn-lg">Add a new idea</a>
</div>